<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a href="/home/adm" class="navbar-brand">Home</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/admin/categories" class="nav-link">ADM Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/adm/articles" class="nav-link">ADM Artigos</a>
        </li>



    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-0">
            <a href="/logout/adm" class="nav-link">Logout</a>
        </li>
    </ul>
</nav>